@mixin borders($left-top: #fff, $right-bottom: #7b7b7b) {
  border-width: 4px;
  border-style: solid;
  border-left-color: $left-top;
  border-top-color: $left-top;
  border-right-color: $right-bottom;
  border-bottom-color: $right-bottom;
}

@mixin cell {
  width: 40px;
  height: 40px;
  background-color: silver;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080;
}
