.menu {
    display: flex;
    align-items: center;
    padding: 15px 12px;
    gap: 20px;
    &__item {
        padding: 3px 6px;
        list-style-type: none;
        font-size: 1.3rem;
        color: #222;
        font-family: 'Minecraft', sans-serif;
        transition: all 0.1s linear;
        line-height: 1.15;
        cursor: pointer;
        &::first-letter {
            text-decoration: underline;
        }
        &:hover {
            color: rgb(114, 113, 113);
        }
    }
}
