* {
  // outline: 1px solid red;
}
.app {
  padding: 1px;
  border: 4px solid;
  border-color: silver #000 #000 silver;
  background-color: silver;
  &__board-container {
    @include borders(#fff, #7b7b7b);
    padding: 20px;
  }
  
}
